@charset "UTF-8";
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-100.eot");
  src: local("../fonts/MuseoSans/MuseoSansCyrl-100"), url("../fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-100.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot");
  src: local("../fonts/MuseoSans/MuseoSansCyrl-100Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-100Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-100Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSans/MuseoSansCyrl-300"), url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300Italic.eot");
  src: local("../fonts/MuseoSans/MuseoSansCyrl-300Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-300Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-500.eot");
  src: local("../fonts/MuseoSans/MuseoSansCyrl-500"), url("../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot");
  src: local("../fonts/MuseoSans/MuseoSansCyrl-500Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-500Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSans/MuseoSansCyrl-700"), url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot");
  src: local("../fonts/MuseoSans/MuseoSansCyrl-700Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans Cyrl 900";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-900.eot");
  src: local("../fonts/MuseoSans/MuseoSansCyrl-900"), url("../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot");
  src: local("Museo Sans Cyrl 900 Italic"), local("../fonts/MuseoSans/MuseoSansCyrl-900Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-900Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "BodoniC";
  src: url("../fonts/BodoniCyrillic/BodoniCyrillic.eot?#iefix") format("embedded-opentype"), url("../fonts/BodoniCyrillic/BodoniCyrillic.woff") format("woff"), url("../fonts/BodoniCyrillic/BodoniCyrillic.ttf") format("truetype"), url("../fonts/BodoniCyrillic/BodoniCyrillic.svg#BodoniBoldCyrillic") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BodoniC";
  src: url("../fonts/BodoniCyrillic/BodoniC-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BodoniCyrillic/BodoniC-Bold.woff") format("woff"), url("../fonts/BodoniCyrillic/BodoniC-Bold.ttf") format("truetype"), url("../fonts/BodoniCyrillic/BodoniC-Bold.svg#BodoniC-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 -15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 0 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 0 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 0 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 0 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 0 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 0 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 0 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 0 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 0 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 0 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 0 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1230px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1229.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1230px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  outline: none;
  height: 44px;
  color: #ffffff;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 2rem;
  position: relative;
  padding: 11px 20px;
  background: #0c1c4c;
  display: inline-block;
  text-decoration: none;
  border: 1px solid transparent;
}
.form_control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #fff;
}
.form_control::-webkit-input-placeholder {
  color: #fff;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus {
  border-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder {
  color: transparent;
}

.red .form_control,
.error .form_control {
  border-color: #ff0000;
}

textarea.form_control {
  height: auto;
}

.form_group {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .form_group {
    margin-bottom: 30px;
  }
}

.btn {
  color: #fff;
  outline: none;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 16px 44px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  background: #d09056;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  border-radius: 38px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  color: #fff;
  background: #F4A22C;
  text-decoration: none;
}
.btn:focus, .btn.focus {
  outline: 0;
  background: #d09056;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Museo Sans Cyrl", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.625;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  font-family: "BodoniC", Arial, sans-serif;
}

h2, .h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "BodoniC", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-family: "BodoniC", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "BodoniC", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: "BodoniC", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-family: "BodoniC", Arial, sans-serif;
}

a {
  outline: none;
  color: #d09056;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #d09056;
  text-decoration: none;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  padding-top: 10px;
  padding-bottom: 8px;
  position: absolute;
  background: #1f3578;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}
.header .container:before, .header .container:after {
  content: " ";
  display: table;
}
.header .container:after {
  clear: both;
}
.header__logo {
  width: 60px;
  float: left;
  display: block;
}
.header__toggle {
  width: 50px;
  height: 50px;
  float: right;
  font-size: 0;
  line-height: 0;
  margin-top: 5px;
  margin-left: 30px;
  display: inline-block;
  padding: 15px 12px 0 12px;
  border: 2px solid #d09056;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.header__toggle span {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  display: inline-block;
  background: #d09056;
}
.header__phone {
  float: left;
  color: #fff;
  display: none;
  height: 32px;
  font-weight: 100;
  font-size: 2.4rem;
  line-height: 2.4rem;
  position: relative;
  margin: 26px 0 0 55px;
  padding: 4px 0 4px 40px;
}
.header__phone:before {
  top: 0;
  left: 0;
  content: "";
  width: 30px;
  height: 32px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__support.svg") 50% 50% no-repeat;
  background-size: cover;
}
.header__lng {
  float: right;
  display: block;
  margin-top: 20px;
  position: relative;
}
.header__lng_active {
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__lng_active:before {
  top: 0;
  right: 0;
  content: "";
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  display: inline-block;
  font-family: FontAwesome;
}
.header__lng_active i {
  width: 23px;
  padding-top: 2px;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header__lng_active span {
  margin-left: 10px;
  display: inline-block;
}
.header__lng_nav {
  top: 100%;
  left: -10px;
  min-width: 100%;
  margin: 5px 0 0 0;
  padding: 5px 10px;
  font-size: 1.4rem;
  line-height: 2rem;
  list-style: none;
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
}
.header__lng_nav li a {
  color: #fff;
  width: 100%;
  text-decoration: none;
  padding: 3px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__lng_nav li a i {
  width: 23px;
  padding-top: 2px;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header__lng_nav li a span {
  margin-left: 10px;
  display: inline-block;
}
.header__lng.open .header__lng_nav {
  display: block;
}
.header__nav {
  top: 0;
  left: 0;
  width: 240px;
  z-index: 1200;
  margin-left: -260px;
  padding: 80px 0 20px 0;
  height: 100vh;
  position: fixed;
  background: #242424;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}
.header__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__nav ul li a {
  width: 100%;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 14px 20px;
  color: #d09056;
  display: inline-block;
  text-decoration: none;
  background: transparent;
}
.header__nav ul li a:hover {
  color: #606060;
  background: #2e2e2e;
  text-decoration: none;
}
.header__nav ul li.active a {
  color: #606060;
  white-space: nowrap;
  background: #2e2e2e;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header {
    padding: 20px 0;
  }
  .header__logo {
    width: 80px;
  }
  .header__phone {
    display: inline-block;
  }
  .header__lng {
    margin-top: 33px;
  }
  .header__toggle {
    margin-top: 15px;
  }
}
@media (min-width: 1230px) {
  .header {
    padding: 0;
    background: #242424;
  }
  .header__logo {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__toggle {
    display: none;
  }
  .header__lng {
    margin: 0;
  }
  .header__lng_active {
    display: none;
  }
  .header__lng_nav {
    top: auto;
    left: auto;
    right: auto;
    padding: 0;
    font-size: 0;
    line-height: 0;
    margin: 16px 0 0 0;
    position: relative;
    background: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__lng_nav li {
    width: 23px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    margin-left: 10px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .header__lng_nav li a {
    padding: 0;
    width: 23px;
    opacity: 0.4;
    display: inline-block;
  }
  .header__lng_nav li a i {
    padding: 0;
  }
  .header__lng_nav li a span {
    display: none;
  }
  .header__lng_nav li.active a {
    opacity: 1;
  }
  .header__nav {
    float: left;
    margin: 0;
    padding: 0;
    left: auto;
    right: auto;
    width: auto;
    height: auto;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header__nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav ul li a {
    padding: 14px 15px;
  }
}

.open_nav {
  height: 100vh;
  overflow: hidden;
}
.open_nav .header__nav {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer {
  padding-top: 160px;
  padding-bottom: 25px;
  background: url("../img/foter__bg.jpg") 50% 100% no-repeat;
  background-size: cover;
}
.footer .container {
  padding: 0 10px;
}
.footer__form {
  color: #fff;
  width: 300px;
  padding: 20px 20px 30px 20px;
  margin: 0 auto 20px auto;
  background: #203577;
}
.footer__form_title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 2px;
  font-family: "BodoniC", Arial, sans-serif;
}
.footer .btn {
  margin-top: 5px;
}
.footer__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.footer__bottom_image {
  width: 59px;
  display: inline-block;
}
.footer__bottom_text {
  color: #fff;
  padding-top: 30px;
  font-size: 1.3rem;
  line-height: 2px;
  display: block;
  margin-left: 30px;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 0;
  }
  .footer__form {
    width: 690px;
    padding: 40px 70px 40px 70px;
  }
  .footer__form_title {
    font-size: 3.6rem;
    line-height: 4.8rem;
    margin: 0 -40px 40px -40px;
  }
}
@media (min-width: 992px) {
  .footer__form {
    width: 770px;
    margin-bottom: 40px;
  }
  .footer__form_title {
    font-size: 4.8rem;
    line-height: 6rem;
    margin-bottom: 40px;
  }
  .footer .btn {
    margin-top: 0px;
  }
}
.page {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.timer {
  text-align: center;
}
.timer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.timer ul li {
  width: 25%;
}
.timer .timer-value {
  display: block;
  color: #203577;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 4.8rem;
  font-family: "BodoniC", Arial, sans-serif;
}
.timer .timer-legend {
  color: #000;
  display: block;
  font-weight: 100;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
@media (min-width: 768px) {
  .timer .timer-value {
    font-size: 10rem;
    line-height: 9rem;
  }
  .timer .timer-legend {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;
  text-align: center;
  font-family: "BodoniC", Arial, sans-serif;
}
@media (min-width: 768px) {
  .heading {
    font-size: 3.6rem;
    line-height: 4.6rem;
  }
}
@media (min-width: 1230px) {
  .heading {
    font-size: 4.8rem;
    line-height: 6rem;
  }
}

.thanks {
  color: #fff;
  max-width: 400px;
  background: #203577;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 30px 20px;
  text-align: center;
}
.thanks__title {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 30px;
}
.thanks__text {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}
@media (min-width: 768px) {
  .thanks {
    width: 440px;
    padding: 40px 40px 40px 40px;
  }
}
.first {
  color: #fff;
  z-index: 20;
  position: relative;
  padding-top: 110px;
  background: url("../img/first__bg_desktop.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.first .container {
  position: relative;
}
.first__heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: "BodoniC", Arial, sans-serif;
}
.first__heading span {
  display: block;
  color: #d09056;
  font-size: 4.8rem;
  line-height: 4.8rem;
}
.first__body {
  margin-bottom: 30px;
}
.first__logo {
  width: 155px;
  margin: 0 auto 16px auto;
}
.first__social {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.first__social li {
  margin: 0 7px;
}
.first__social li a {
  width: 32px;
  height: 32px;
  padding: 7px 0;
  font-size: 18px;
  line-height: 18px;
  color: #d09056;
  text-align: center;
  display: inline-block;
  text-decoration: navajowhite;
  border: 1px solid #d09056;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.first__social li a .ico-svg {
  fill: #d09056;
}
.first__social li a:hover {
  color: #fff;
  background: #d09056;
}
.first__social li a:hover .ico-svg {
  fill: #fff;
}
.first__about {
  text-align: center;
}
.first__about_text {
  font-weight: 100;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 20px;
}
.first__about_country {
  padding: 0;
  font-size: 0;
  width: 270px;
  line-height: 0;
  margin: 0 auto 10px auto;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.first__about_country li {
  width: 34px;
  margin: 0 10px 15px 10px;
}
.first__about_lead {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5rem;
  text-align: center;
  color: #d09056;
  letter-spacing: 3px;
  font-family: "BodoniC", Arial, sans-serif;
}
.first__about_lead span {
  display: block;
}
.first__text {
  width: 300px;
  display: none;
  font-size: 1.6rem;
  line-height: 2.7rem;
}
.first__text p {
  margin: 0 0 30px 0;
}
.first__text p:last-child {
  margin-bottom: 0;
}
.first__timer {
  margin: 0 -5px -57px -5px;
}
.first__timer_title {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #d09056;
  margin-bottom: 10px;
}
.first__timer_box {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  background: url("../img/timer_bg.png") 50% 50% no-repeat;
  background-size: cover;
}
.first__timer_main {
  color: #203577;
  background: #fff;
  padding: 15px 10px;
}
.first__home {
  display: none;
  text-align: center;
  margin-bottom: 30px;
}
.first__home a {
  padding: 5px 30px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #d09056;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #d09056;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
}
.first__home a:hover {
  color: #fff;
  text-decoration: none;
  background: #d09056;
}
.first__phone {
  top: 0;
  left: 15px;
  color: #fff;
  display: none;
  height: 32px;
  font-weight: 100;
  font-size: 2.4rem;
  line-height: 2.4rem;
  position: absolute;
  padding: 4px 0 4px 40px;
}
.first__phone:before {
  top: 0;
  left: 0;
  content: "";
  width: 30px;
  height: 32px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__support.svg") 50% 50% no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .first {
    padding-top: 180px;
  }
  .first__home {
    display: block;
  }
  .first__heading {
    font-size: 3.6rem;
    line-height: 4rem;
    margin-bottom: 50px;
  }
  .first__heading span {
    font-size: 7.2rem;
    line-height: 8rem;
    letter-spacing: 5px;
  }
  .first__heading strong {
    display: block;
    letter-spacing: 2px;
  }
  .first__body {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .first__center {
    width: 230px;
    margin-left: 45px;
  }
  .first__logo {
    width: 216px;
    margin-bottom: 35px;
  }
  .first__about {
    width: 340px;
    text-align: left;
  }
  .first__about_text {
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin-bottom: 25px;
  }
  .first__about_country {
    margin: 0 0 0 -12px;
    width: 320px;
  }
  .first__about_country li {
    width: 40px;
    margin: 0 12px 20px 12px;
  }
  .first__about_lead {
    text-align: left;
  }
  .first__timer_title {
    margin-bottom: 20px;
  }
  .first__timer_box {
    width: 700px;
    padding: 15px;
    margin: 0 auto -90px auto;
  }
  .first__timer_main {
    padding: 25px 10px;
  }
}
@media (min-width: 1230px) {
  .first {
    padding-top: 80px;
  }
  .first__home {
    text-align: right;
    margin-bottom: 20px;
  }
  .first__phone {
    display: inline-block;
  }
  .first__heading {
    font-size: 4.8rem;
    line-height: 5.2rem;
    margin-bottom: 45px;
  }
  .first__heading span {
    font-size: 10rem;
    line-height: 10rem;
    margin-bottom: 15px;
  }
  .first__body {
    margin-bottom: 20px;
  }
  .first__text {
    display: block;
  }
  .first__center {
    width: 310px;
  }
  .first__logo {
    width: 306px;
    margin-bottom: 44px;
  }
  .first__about {
    width: 300px;
  }
  .first__about_text {
    margin-bottom: 35px;
  }
  .first__about_country {
    margin-bottom: 30px;
  }
}

.step {
  color: #fff;
  padding-top: 95px;
  padding-bottom: 20px;
  background: #203577;
}
.step .heading {
  margin-bottom: 30px;
}
.step__info {
  padding: 0;
  margin: 0 auto;
  max-width: 300px;
  list-style: none;
}
.step__info li {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  padding: 95px 15px 0 15px;
}
.step__info li:before {
  top: 10px;
  left: 0;
  color: #fff;
  width: 30px;
  height: 30px;
  padding: 5px 0;
  font-weight: 400;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
  position: absolute;
  background: #909abb;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.step__info li:after {
  top: 30px;
  left: 15px;
  bottom: -40px;
  content: "";
  width: 1px;
  display: block;
  position: absolute;
  background: #909abb;
}
.step__info li span {
  max-width: 200px;
  display: inline-block;
}
.step__info li:nth-child(1) {
  background: url("../img/about__icon_01.png") 50% 0 no-repeat;
}
.step__info li:nth-child(1):before {
  display: none;
}
.step__info li:nth-child(1):after {
  display: none;
}
.step__info li:nth-child(2) {
  background: url("../img/about__icon_02.png") 50% 0 no-repeat;
}
.step__info li:nth-child(2):before {
  content: "1";
}
.step__info li:nth-child(3) {
  background: url("../img/about__icon_03.png") 50% 0 no-repeat;
}
.step__info li:nth-child(3):before {
  content: "2";
}
.step__info li:nth-child(4) {
  background: url("../img/about__icon_04.png") 50% 0 no-repeat;
}
.step__info li:nth-child(4):before {
  content: "3";
}
.step__info li:nth-child(5) {
  background: url("../img/about__icon_05.png") 50% 0 no-repeat;
}
.step__info li:nth-child(5):before {
  content: "4";
}
.step__info li:nth-child(6) {
  background: url("../img/about__icon_06.png") 50% 0 no-repeat;
}
.step__info li:nth-child(6):before {
  content: "5";
}
.step__info li:nth-child(7) {
  background: url("../img/about__icon_07.png") 50% 0 no-repeat;
}
.step__info li:nth-child(7):before {
  content: "6";
}
.step__info li:nth-child(8) {
  background: url("../img/about__icon_08.png") 50% 0 no-repeat;
}
.step__info li:nth-child(8):before {
  content: "7";
}
.step__info li:nth-child(8):after {
  display: none;
}
@media (min-width: 768px) {
  .step {
    padding-top: 140px;
  }
  .step .heading {
    letter-spacing: 2px;
    margin-bottom: 80px;
  }
  .step__info {
    max-width: inherit;
    margin: 0 -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .step__info li {
    width: 33.33%;
    margin-bottom: 55px;
  }
  .step__info li:before {
    top: 30px;
    left: -15px;
  }
  .step__info li:after {
    right: -75px;
    top: 45px;
    left: auto;
    bottom: auto;
    width: 150px;
    height: 1px;
  }
  .step__info li:nth-child(1):after {
    display: block;
  }
  .step__info li:nth-child(3):after {
    display: none;
  }
  .step__info li:nth-child(4):before {
    display: none;
  }
  .step__info li:nth-child(5):before {
    content: "3";
  }
  .step__info li:nth-child(5):before {
    content: "4";
  }
  .step__info li:nth-child(6):after {
    display: none;
  }
  .step__info li:nth-child(7) {
    width: 50%;
  }
  .step__info li:nth-child(7):before {
    display: none;
  }
  .step__info li:nth-child(8) {
    width: 50%;
  }
  .step__info li:nth-child(8):before {
    left: -15px;
  }
}
@media (min-width: 1230px) {
  .step {
    padding-top: 165px;
    padding-bottom: 45px;
  }
  .step .heading {
    margin-bottom: 45px;
  }
  .step__info li {
    width: 25%;
    padding-top: 105px;
    margin-bottom: 55px;
  }
  .step__info li:nth-child(3):after {
    display: block;
  }
  .step__info li:nth-child(4):before {
    display: block;
  }
  .step__info li:nth-child(4):after {
    display: none;
  }
  .step__info li:nth-child(5):before {
    display: none;
  }
  .step__info li:nth-child(6):before {
    content: "4";
  }
  .step__info li:nth-child(6):after {
    display: block;
  }
  .step__info li:nth-child(7) {
    width: 25%;
  }
  .step__info li:nth-child(7):before {
    content: "5";
    display: inline-block;
  }
  .step__info li:nth-child(8) {
    width: 25%;
  }
  .step__info li:nth-child(8):before {
    content: "6";
  }
}

.about {
  color: #353535;
  padding: 45px 0;
  background: #fff;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.about .heading {
  color: #203577;
  margin-bottom: 35px;
}
.about__left {
  margin-bottom: 20px;
}
.about__video {
  -webkit-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.3);
}
.about__video_text {
  color: #fff;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.1rem;
  padding: 20px 24px;
  background: #eda05b;
}
.about__text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.about__text p {
  margin: 0 0 15px 0;
}
.about__text p:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .about {
    padding: 50px 0;
  }
  .about .heading {
    letter-spacing: 2px;
  }
  .about__left {
    margin-bottom: 30px;
  }
  .about__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .about__text p {
    margin: 0 0 20px 0;
  }
  .about__text p:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1230px) {
  .about {
    padding: 90px 0;
  }
  .about .heading {
    margin-bottom: 60px;
  }
  .about__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .about__left {
    margin: 0;
    width: 570px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .about__right {
    padding-left: 60px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.structure {
  color: #fff;
  z-index: 30;
  padding: 40px 0;
  position: relative;
  background: #203577;
}
.structure .heading {
  margin-bottom: 30px;
}
.structure__text {
  display: none;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 45px;
}
.structure__image {
  display: none;
}
.structure__info {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.structure__info li {
  padding-left: 30px;
  margin-bottom: 10px;
  background: url("../img/icon__check.png") 0 3px no-repeat;
}
.structure__info li:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .structure {
    padding: 60px 0 20px 0;
  }
  .structure .heading {
    letter-spacing: 2px;
  }
  .structure__text {
    display: block;
  }
  .structure__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .structure__left {
    width: 260px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .structure__right {
    padding-left: 30px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .structure__image {
    width: 565px;
    display: block;
    margin-left: -305px;
    margin-bottom: -55px;
  }
  .structure__info {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .structure__left {
    width: 495px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .structure__right {
    padding-left: 50px;
  }
  .structure__image {
    margin-left: -70px;
  }
}
@media (min-width: 1230px) {
  .structure {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .structure__text {
    margin-bottom: 30px;
  }
  .structure .heading {
    margin-bottom: 50px;
  }
  .structure__left {
    width: 671px;
  }
  .structure__image {
    width: 670px;
    margin-left: 0;
    margin-bottom: -155px;
  }
  .structure__info {
    padding-top: 30px;
    font-size: 1.8rem;
    margin-bottom: 12px;
  }
}

.investment {
  z-index: 10;
  position: relative;
  padding-top: 45px;
  color: #353535;
  background: #fff;
}
.investment .heading {
  color: #203577;
  margin-bottom: 30px;
}
.investment__text {
  display: none;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 20px;
}
.investment__row {
  margin-bottom: 50px;
}
.investment__left {
  margin: 0 -5px;
}
.investment__logo {
  display: none;
}
.investment__center {
  text-align: center;
  margin-bottom: 20px;
}
.investment__data_value {
  color: #203577;
  font-size: 6rem;
  font-weight: 700;
  line-height: 5rem;
  font-family: "BodoniC", Arial, sans-serif;
}
.investment__data_value.gold {
  color: #d09056;
}
.investment__data_value small {
  color: #bfbfbf;
  font-size: 3.6rem;
}
.investment__data_legend {
  color: #252525;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.investment__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.investment__list li {
  margin-bottom: 20px;
}
.investment__list li:last-child {
  margin-bottom: 0;
}
.investment__advant {
  padding: 0;
  margin: 0 -15px 45px -15px;
  list-style: none;
}
.investment__advant li {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  margin-bottom: 40px;
  padding: 110px 15px 0 15px;
}
.investment__advant li:nth-child(1) {
  background: url("../img/investment__icon_01.png") 50% 0 no-repeat;
}
.investment__advant li:nth-child(2) {
  background: url("../img/investment__icon_02.png") 50% 0 no-repeat;
}
.investment__advant li:nth-child(3) {
  margin-bottom: 0;
  background: url("../img/investment__icon_01.png") 50% 0 no-repeat;
}
.investment__advant_title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #d09056;
  margin-bottom: 5px;
  font-family: "BodoniC", Arial, sans-serif;
}
.investment__advant_text {
  color: #203577;
}
.investment .calculation {
  width: 300px;
  margin: 0 auto 35px auto;
  border: 10px solid #d09056;
}
.investment .calculation__top {
  color: #d09056;
  text-align: center;
  background: #203577;
  padding: 35px 15px 30px 15px;
}
.investment .calculation__top_one {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.8rem;
  font-family: "BodoniC", Arial, sans-serif;
}
.investment .calculation__top_two {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8rem;
  font-family: "BodoniC", Arial, sans-serif;
}
.investment .calculation__top_three {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2rem;
}
.investment .calculation__center {
  background: #fff;
  padding: 15px 20px;
}
.investment .calculation__center ul {
  margin: 0;
  padding: 8px 0;
  list-style: none;
  font-size: 1.2rem;
  line-height: 2.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.investment .calculation__center ul li {
  color: #5f5f5f;
  white-space: nowrap;
}
.investment .calculation__center ul li:last-child {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.2rem;
  text-align: right;
  color: #d09056;
  font-family: "BodoniC", Arial, sans-serif;
}
.investment .calculation__bottom {
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
  padding: 19px 0 9px 0;
  background: #d09056;
}
.investment .timeline {
  margin: 0 -15px 40px -15px;
  position: relative;
}
.investment .timeline__content {
  margin: 0;
  padding: 0;
  width: 1170px;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -260px;
}
.investment .timeline__content:before {
  left: 105px;
  right: 105px;
  top: 67px;
  content: "";
  display: block;
  position: absolute;
  border-bottom: 1px dashed #d09056;
}
.investment .timeline__content li {
  width: 16.66%;
  text-align: center;
  position: relative;
}
.investment .timeline__content li:before {
  top: 59px;
  left: 50%;
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  margin-left: -9px;
  position: absolute;
  background: #d09056;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.investment .timeline__value {
  color: #203577;
  font-size: 6rem;
  font-weight: 700;
  line-height: 5rem;
  margin-bottom: 35px;
  font-family: "BodoniC", Arial, sans-serif;
}
.investment .timeline__day {
  color: #203577;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 20px;
  font-family: "BodoniC", Arial, sans-serif;
}
.investment .timeline__text {
  width: 160px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
}
.investment .summary {
  max-width: 300px;
  margin: 0 auto -146px auto;
  border: 10px solid #d09056;
}
.investment .summary__left {
  color: #fff;
  background: #203577;
}
.investment .summary__total {
  text-align: center;
  padding: 40px 5px 45px 5px;
}
.investment .summary__total .t1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.investment .summary__total .t2 {
  color: #fff;
  font-size: 7.2rem;
  line-height: 6rem;
  margin-bottom: 15px;
  font-family: "BodoniC", Arial, sans-serif;
}
.investment .summary__total .t3 {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2rem;
}
.investment .summary__right {
  background: #fff;
  padding: 11px 15px;
}
.investment .summary__right ul {
  margin: 0;
  padding: 8px 0;
  list-style: none;
  font-size: 1.2rem;
  line-height: 2.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.investment .summary__right ul li {
  color: #5f5f5f;
  white-space: nowrap;
}
.investment .summary__right ul li:last-child {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.2rem;
  text-align: right;
  color: #203577;
  font-family: "BodoniC", Arial, sans-serif;
}
@media (min-width: 768px) {
  .investment {
    padding-top: 80px;
  }
  .investment .heading {
    letter-spacing: 2px;
  }
  .investment__text {
    display: block;
  }
  .investment__text_two {
    margin-bottom: 45px;
  }
  .investment__row {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .investment__left {
    margin: 0;
    width: 400px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .investment__center {
    width: 230px;
    padding-top: 25px;
  }
  .investment__center .investment__data {
    text-align: center;
  }
  .investment__logo {
    width: 230px;
    display: block;
    margin: 0 auto 45px auto;
  }
  .investment__right {
    width: 100%;
    padding-top: 30px;
  }
  .investment__data_value {
    color: #203577;
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 5.8rem;
    font-family: "BodoniC", Arial, sans-serif;
  }
  .investment__data_value.gold {
    color: #d09056;
  }
  .investment__data_value small {
    color: #bfbfbf;
    font-size: 3.6rem;
  }
  .investment__data_legend {
    color: #252525;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .investment__list {
    text-align: right;
    position: relative;
  }
  .investment__list li {
    width: 400px;
    margin-bottom: 15px;
  }
  .investment__list li:last-child {
    right: 0;
    top: 30px;
    width: 230px;
    text-align: center;
    position: absolute;
  }
  .investment__advant {
    margin-bottom: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .investment__advant li:nth-child(2) {
    width: 330px;
    margin-bottom: 0;
  }
  .investment .calculation {
    margin: 0;
    width: 100%;
    border: 15px solid #d09056;
  }
  .investment .calculation__top {
    color: #d09056;
    text-align: center;
    background: #203577;
    padding: 30px 15px 30px 15px;
  }
  .investment .calculation__top_one {
    font-size: 4.8rem;
    line-height: 6rem;
    margin-bottom: 5px;
  }
  .investment .calculation__top_two {
    font-size: 7.2rem;
    line-height: 6rem;
  }
  .investment .calculation__center {
    padding: 15px 25px;
  }
  .investment .calculation__center ul {
    padding: 4px 0;
    list-style: none;
    font-size: 1.4rem;
    line-height: 3rem;
  }
  .investment .calculation__center ul li:last-child {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .investment .calculation__bottom {
    color: #fff;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
    padding: 22px 0 6px 0;
    background: #d09056;
  }
  .investment .timeline__content:before {
    top: 80px;
  }
  .investment .timeline__content li:before {
    top: 71px;
  }
  .investment .timeline__value {
    font-size: 7.2rem;
    line-height: 6rem;
    margin-bottom: 40px;
  }
  .investment .summary {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    border: 15px solid #d09056;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .investment .summary__left {
    width: 215px;
  }
  .investment .summary__total {
    text-align: center;
    padding: 35px 5px 35px 5px;
  }
  .investment .summary__total .t1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .investment .summary__total .t2 {
    color: #fff;
    font-size: 7.2rem;
    line-height: 6rem;
    margin-bottom: 15px;
    font-family: "BodoniC", Arial, sans-serif;
  }
  .investment .summary__total .t3 {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2rem;
  }
  .investment .summary__right {
    background: #fff;
    padding: 50px 15px 0 15px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .investment .summary__right ul {
    font-size: 1.4rem;
    margin: 0 auto;
    width: 340px;
  }
  .investment .summary__right ul li:last-child {
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .investment .timeline__content {
    margin-left: -100px;
  }
}
@media (min-width: 1230px) {
  .investment {
    padding-top: 175px;
  }
  .investment__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 50px;
  }
  .investment__text_two {
    margin-bottom: 50px;
  }
  .investment .heading {
    margin-bottom: 50px;
  }
  .investment__row {
    margin-bottom: 78px;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .investment__right {
    width: 350px;
    padding-top: 0;
  }
  .investment__center {
    width: 310px;
    padding-top: 0;
    margin-left: 30px;
  }
  .investment__logo {
    width: 306px;
    margin-bottom: 40px;
  }
  .investment__list li {
    width: 100%;
    margin-bottom: 40px;
  }
  .investment__list li:last-child {
    right: auto;
    top: auto;
    width: 100%;
    text-align: right;
    position: relative;
    margin-bottom: 0;
  }
  .investment__advant {
    margin-bottom: 40px;
  }
  .investment__advant li {
    width: 33.33%;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .investment__advant li:nth-child(2) {
    width: 33.33%;
  }
  .investment__advant_title {
    font-size: 3rem;
    line-height: 3.6rem;
  }
  .investment__advant_text {
    width: 300px;
    margin: 0 auto;
  }
  .investment .timeline {
    margin-bottom: 70px;
  }
  .investment .timeline__content {
    margin-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
