.first {
	color: #fff;
	z-index: 20;
	position: relative;
	padding-top: 110px;
	background: url("../img/first__bg_desktop.jpg") 50% 50% no-repeat;
	background-size: cover;

	.container {
		position: relative;
	}

	&__heading {
		font-size: 3rem;
		font-weight: 700;
		line-height: 3.2rem;
		text-align: center;
		margin-bottom: 20px;
		font-family: $font-family-head;

		span {
			display: block;
			color: $color-gold;
			font-size: 4.8rem;
			line-height: 4.8rem;
		}
	}

	&__body {
		margin-bottom: 30px;
	}

	&__logo {
		width: 155px;
		margin: 0 auto 16px auto;
	}

	&__social {
		padding: 0;
		list-style: none;
		margin: 0 auto;
		@include flexbox();
		@include justify-content(center);

		li {
			margin: 0 7px;

			a {
				width: 32px;
				height: 32px;
				padding: 7px 0;
				font-size: 18px;
				line-height: 18px;
				color: $color-gold;
				text-align: center;
				display: inline-block;
				text-decoration: navajowhite;
				border: 1px solid $color-gold;
				@include border-radius(50%);

				.ico-svg {
					fill: $color-gold;
				}

				&:hover {
					color: #fff;
					background: $color-gold;

					.ico-svg {
						fill: #fff;
					}
				}
			}
		}

	}

	&__about {
		text-align: center;

		&_text {
			font-weight: 100;
			font-size: 1.4rem;
			line-height: 2.1rem;
			margin-bottom: 20px;
		}

		&_country {
			padding: 0;
			font-size: 0;
			width: 270px;
			line-height: 0;
			margin: 0 auto 10px auto;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(center);

			li {
				width: 34px;
				margin: 0 10px 15px 10px;
			}
		}

		&_lead {
			font-weight: 700;
			font-size: 4.8rem;
			line-height: 5rem;
			text-align: center;
			color: $color-gold;
			letter-spacing: 3px;
			font-family: $font-family-head;

			span {
				display: block;
			}
		}
	}

	&__text {
		width: 300px;
		display: none;
		font-size: 1.6rem;
		line-height: 2.7rem;

		p {
			margin: 0 0 30px 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__timer {
		margin: 0 -5px -57px -5px;

		&_title {
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			color: $color-gold;
			margin-bottom: 10px;
		}

		&_box {
			width: 300px;
			padding: 10px;
			margin: 0 auto;
			background: url("../img/timer_bg.png") 50% 50% no-repeat;
			background-size: cover;
		}

		&_main {
			color: #203577;
			background: #fff;
			padding: 15px 10px;
		}
	}

	&__home {
		display: none;
		text-align: center;
		margin-bottom: 30px;

		a {
			padding: 5px 30px;
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 2rem;
			color: $color-gold;
			display: inline-block;
			text-decoration: none;
			border: 1px solid $color-gold;
			@include border-radius(16px);

			&:hover {
				color: #fff;
				text-decoration: none;
				background: $color-gold;
			}
		}
	}

	&__phone {
		top: 0;
		left: 15px;
		color: #fff;
		display: none;
		height: 32px;
		font-weight: 100;
		font-size: 2.4rem;
		line-height: 2.4rem;
		position: absolute;
		padding: 4px 0 4px 40px;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 30px;
			height: 32px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__support.svg") 50% 50% no-repeat;
			background-size: cover;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 180px;

		&__home {
			display: block;
		}

		&__heading {

			font-size: 3.6rem;
			line-height: 4rem;
			margin-bottom: 50px;

			span {
				font-size: 7.2rem;
				line-height: 8rem;
				letter-spacing: 5px;
			}

			strong {
				display: block;
				letter-spacing: 2px;
			}
		}

		&__body {
			margin-bottom: 50px;
			@include flexbox();
			@include justify-content(space-between);
		}

		&__center {
			width: 230px;
			margin-left: 45px;
		}

		&__logo {
			width: 216px;
			margin-bottom: 35px;
		}

		&__about {
			width: 340px;
			text-align: left;

			&_text {
				font-size: 1.6rem;
				line-height: 2.7rem;
				margin-bottom: 25px;
			}

			&_country {
				margin: 0 0 0 -12px;
				width: 320px;

				li {
					width: 40px;
					margin: 0 12px 20px 12px;
				}
			}

			&_lead {
				text-align: left;
			}
		}

		&__timer {

			&_title {
				margin-bottom: 20px;
			}

			&_box {
				width: 700px;
				padding: 15px;
				margin: 0 auto -90px auto;
			}

			&_main {
				padding: 25px 10px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		padding-top: 80px;

		&__home {
			text-align: right;
			margin-bottom: 20px;
		}

		&__phone {
			display: inline-block;
		}

		&__heading {
			font-size: 4.8rem;
			line-height: 5.2rem;
			margin-bottom: 45px;

			span {
				font-size: 10rem;
				line-height: 10rem;
				margin-bottom: 15px;
			}
		}

		&__body {
			margin-bottom: 20px;
		}

		&__text {
			display: block;
		}

		&__center {
			width: 310px;
		}

		&__logo {
			width: 306px;
			margin-bottom: 44px;
		}

		&__about {
			width: 300px;

			&_text {
				margin-bottom: 35px;
			}

			&_country {
				margin-bottom: 30px;
			}
		}
	}
}