.page {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}


.timer {
	text-align: center;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include justify-content(space-between);

		li {
			width: 25%;
		}
	}

	.timer-value {
		display: block;
		color: #203577;
		font-weight: 700;
		font-size: 4.8rem;
		line-height: 4.8rem;
		font-family: $font-family-head;
	}

	.timer-legend {
		color: #000;
		display: block;
		font-weight: 100;
		font-size: 1.4rem;
		line-height: 1.6rem;
	}

	@media (min-width: $screen-md-min) {

		.timer-value {
			font-size: 10rem;
			line-height: 9rem;
		}

		.timer-legend {
			font-size: 1.6rem;
			line-height: 1.8rem;
		}
	}
}

.heading {
	font-size: 3rem;
	font-weight: 700;
	line-height: 3.6rem;
	text-align: center;
	font-family: $font-family-head;

	@media (min-width: $screen-md-min) {
		font-size: 3.6rem;
		line-height: 4.6rem;
	}

	@media (min-width: $screen-xl-min) {
		font-size: 4.8rem;
		line-height: 6rem;
	}
}

.thanks {
	color: #fff;
	max-width: 400px;
	background: #203577;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.3;
	padding: 30px 20px;
	text-align: center;

	&__title {
		font-size: 4rem;
		line-height: 4rem;
		margin-bottom: 30px;
	}

	&__text {
		font-size: 2rem;
		line-height: 3rem;
		text-align: center;
	}


	@media (min-width: $screen-md-min) {
		width: 440px;
		padding: 40px 40px 40px 40px;
	}

	@media (min-width: $screen-lg-min) {

	}


}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}