.about {
	color: #353535;
	padding: 45px 0;
	background: #fff;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2.4rem;

	.heading {
		color: #203577;
		margin-bottom: 35px;
	}

	&__row {

	}

	&__left {
		margin-bottom: 20px;
	}

	&__right {

	}

	&__video {
		@include box-shadow(0px 0px 29px 0px rgba(0, 0, 0, 0.3));

		&_item {

		}

		&_text {
			color: #fff;
			font-weight: 900;
			font-size: 1.6rem;
			line-height: 2.1rem;
			padding: 20px 24px;
			background: #eda05b;
		}
	}

	&__text {
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2.1rem;

		p {
			margin: 0 0 15px 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 50px 0;

		.heading {
			letter-spacing: 2px;
		}

		&__left {
			margin-bottom: 30px;
		}

		&__text {
			font-size: 1.6rem;
			line-height: 2.4rem;

			p {
				margin: 0 0 20px 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		padding: 90px 0;

		.heading {
			margin-bottom: 60px;
		}

		&__row {
			@include flexbox();
		}

		&__left {
			margin: 0;
			width: 570px;
			@include flex-shrink(0);
		}

		&__right {
			padding-left: 60px;
			@include flex-grow(1);
		}
	}
}
