.step {
	color: #fff;
	padding-top: 95px;
	padding-bottom: 20px;
	background: #203577;

	.heading {
		margin-bottom: 30px;
	}

	&__info {
		padding: 0;
		margin: 0 auto;
		max-width: 300px;
		list-style: none;

		li {
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 2.1rem;
			position: relative;
			text-align: center;
			margin-bottom: 30px;
			padding: 95px 15px 0 15px;

			&:before {
				top: 10px;
				left: 0;
				color: #fff;
				width: 30px;
				height: 30px;
				padding: 5px 0;
				font-weight: 400;
				text-align: center;
				font-size: 1.6rem;
				line-height: 2rem;
				position: absolute;
				background: #909abb;
				display: inline-block;
				@include border-radius(50%);
			}

			&:after {
				top: 30px;
				left: 15px;
				bottom: -40px;
				content: '';
				width: 1px;
				display: block;
				position: absolute;
				background: #909abb;
			}

			span {
				max-width: 200px;
				display: inline-block;
			}

			&:nth-child(1) {
				background: url("../img/about__icon_01.png") 50% 0 no-repeat;

				&:before {
					display: none;
				}

				&:after {
					display: none;
				}
			}

			&:nth-child(2) {
				background: url("../img/about__icon_02.png") 50% 0 no-repeat;

				&:before {
					content: '1';
				}
			}

			&:nth-child(3) {
				background: url("../img/about__icon_03.png") 50% 0 no-repeat;

				&:before {
					content: '2';
				}
			}

			&:nth-child(4) {
				background: url("../img/about__icon_04.png") 50% 0 no-repeat;

				&:before {
					content: '3';
				}
			}

			&:nth-child(5) {
				background: url("../img/about__icon_05.png") 50% 0 no-repeat;

				&:before {
					content: '4';
				}
			}

			&:nth-child(6) {
				background: url("../img/about__icon_06.png") 50% 0 no-repeat;

				&:before {
					content: '5';
				}
			}

			&:nth-child(7) {
				background: url("../img/about__icon_07.png") 50% 0 no-repeat;

				&:before {
					content: '6';
				}
			}

			&:nth-child(8) {
				background: url("../img/about__icon_08.png") 50% 0 no-repeat;

				&:before {
					content: '7';
				}

				&:after {
					display: none;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 140px;

		.heading {
			letter-spacing: 2px;
			margin-bottom: 80px;
		}

		&__info {
			max-width: inherit;
			margin: 0 -15px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			li {
				width: 33.33%;
				margin-bottom: 55px;

				&:before {
					top: 30px;
					left: -15px;
				}

				&:after {
					right: -75px;
					top: 45px;
					left: auto;
					bottom: auto;
					width: 150px;
					height: 1px;
				}

				&:nth-child(1) {

					&:after {
						display: block;
					}
				}

				&:nth-child(3) {

					&:after {
						display: none;
					}
				}

				&:nth-child(4) {

					&:before {
						display: none;
					}
				}

				&:nth-child(5) {

					&:before {
						content: '3';
					}
				}

				&:nth-child(5) {

					&:before {
						content: '4';
					}
				}

				&:nth-child(6) {

					&:after {
						display: none;
					}
				}

				&:nth-child(7) {
					width: 50%;

					&:before {
						display: none;
					}

				}

				&:nth-child(8) {
					width: 50%;

					&:before {
						left: -15px;
					}
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {


	}

	@media (min-width: $screen-xl-min) {
		padding-top: 165px;
		padding-bottom: 45px;

		.heading {
			margin-bottom: 45px;
		}


		&__info {

			li {
				width: 25%;
				padding-top: 105px;
				margin-bottom: 55px;

				&:nth-child(1) {

				}

				&:nth-child(2) {

				}

				&:nth-child(3) {

					&:after {
						display: block;
					}
				}

				&:nth-child(4) {

					&:before {
						display: block;
					}

					&:after {
						display: none;
					}
				}

				&:nth-child(5) {

					&:before {
						display: none;
					}

				}

				&:nth-child(6) {

					&:before {
						content: '4';
					}

					&:after {
						display: block;
					}

				}

				&:nth-child(7) {
					width: 25%;

					&:before {
						content: '5';
						display: inline-block;
					}
				}

				&:nth-child(8) {
					width: 25%;

					&:before {
						content: '6';
					}
				}
			}
		}
	}
}

