.structure {
	color: #fff;
	z-index: 30;
	padding: 40px 0;
	position: relative;
	background: #203577;

	.heading {
		margin-bottom: 30px;
	}
	&__text {
		display: none;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-bottom: 45px;
	}

	&__image {
		display: none;
	}

	&__info {
		margin: 0;
		padding: 0;
		list-style: none;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2.1rem;

		li {
			padding-left: 30px;
			margin-bottom: 10px;
			background: url("../img/icon__check.png") 0 3px no-repeat;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding: 60px 0 20px 0;

		.heading {
			letter-spacing: 2px;
		}

		&__text {
			display: block;
		}

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__left {
			width: 260px;
			@include flex-shrink(0);
		}

		&__right {
			padding-left: 30px;
			@include flex-grow(1);
		}

		&__image {
			width: 565px;
			display: block;
			margin-left: -305px;
			margin-bottom: -55px;
		}

		&__info {
			font-size: 1.6rem;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__left {
			width: 495px;
			@include flex-shrink(0);
		}

		&__right {
			padding-left: 50px;
		}

		&__image {
			margin-left: -70px;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 100px;
		padding-bottom: 40px;

		&__text {
			margin-bottom: 30px;
		}

		.heading {
			margin-bottom: 50px;
		}


		&__left {
			width: 671px;
		}

		&__image {
			width: 670px;
			margin-left: 0;
			margin-bottom: -155px;
		}

		&__info {
			padding-top: 30px;
			font-size: 1.8rem;
			margin-bottom: 12px;
		}
	}
}