.investment {
	z-index: 10;
	position: relative;
	padding-top: 45px;
	color: #353535;
	background: #fff;

	.heading {
		color: #203577;
		margin-bottom: 30px;
	}

	&__text {
		display: none;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2.1rem;
		margin-bottom: 20px;
	}

	&__row {
		margin-bottom: 50px;
	}

	&__left {
		margin: 0 -5px;
	}

	&__logo {
		display: none;
	}

	&__center {
		text-align: center;
		margin-bottom: 20px;
	}

	&__data {

		&_value {
			color: #203577;
			font-size: 6rem;
			font-weight: 700;
			line-height: 5rem;
			font-family: $font-family-head;

			&.gold {
				color: $color-gold;
			}

			small {
				color: #bfbfbf;
				font-size: 3.6rem;
			}

			span {

			}
		}

		&_legend {
			color: #252525;
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 1.8rem;
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		li {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__advant {
		padding: 0;
		margin: 0 -15px 45px -15px;
		list-style: none;

		li {
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 2.1rem;
			text-align: center;
			margin-bottom: 40px;
			padding: 110px 15px 0 15px;

			&:nth-child(1) {
				background: url("../img/investment__icon_01.png") 50% 0 no-repeat;
			}

			&:nth-child(2) {
				background: url("../img/investment__icon_02.png") 50% 0 no-repeat;
			}

			&:nth-child(3) {
				margin-bottom: 0;
				background: url("../img/investment__icon_01.png") 50% 0 no-repeat;
			}
		}

		&_title {
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 3rem;
			color: $color-gold;
			margin-bottom: 5px;
			font-family: $font-family-head;
		}

		&_text {
			color: #203577;
		}
	}

	.calculation {
		width: 300px;
		margin: 0 auto 35px auto;
		border: 10px solid #d09056;

		&__top {
			color: #d09056;
			text-align: center;
			background: #203577;
			padding: 35px 15px 30px 15px;

			&_one {
				font-weight: 700;
				font-size: 3.6rem;
				line-height: 4.8rem;
				font-family: $font-family-head;
			}

			&_two {
				font-weight: 700;
				font-size: 7.2rem;
				line-height: 8rem;
				font-family: $font-family-head;
			}

			&_three {
				color: #fff;
				font-size: 1.6rem;
				line-height: 2rem;
			}
		}

		&__center {
			background: #fff;
			padding: 15px 20px;

			ul {
				margin: 0;
				padding: 8px 0;
				list-style: none;
				font-size: 1.2rem;
				line-height: 2.2rem;
				@include flexbox();
				@include justify-content(space-between);

				li {
					color: #5f5f5f;
					white-space: nowrap;

					&:first-child {

					}

					&:last-child {
						font-weight: 700;
						font-size: 2.1rem;
						line-height: 2.2rem;
						text-align: right;
						color: $color-gold;
						font-family: $font-family-head;
					}
				}
			}
		}

		&__bottom {
			color: #fff;
			font-weight: 400;
			font-size: 1.8rem;
			line-height: 2rem;
			text-align: center;
			padding: 19px 0 9px 0;
			background: #d09056;
		}
	}

	.timeline {
	//	height: 200px;
		margin: 0 -15px 40px -15px;
		position: relative;

		&__wrap {

		}

		&__content {
			margin: 0;
			padding: 0;
			width: 1170px;
			list-style: none;
			position: relative;
			@include flexbox();
			margin-left: -260px;

			&:before {
				left: 105px;
				right: 105px;
				top: 67px;
				content: '';
				display: block;
				position: absolute;
				border-bottom: 1px dashed $color-gold;
			}

			li {
				width: 16.66%;
				text-align: center;
				position: relative;

				&:before {
					top: 59px;
					left: 50%;
					content: '';
					width: 18px;
					height: 18px;
					display: block;
					margin-left: -9px;
					position: absolute;
					background: $color-gold;
					@include border-radius(50%);
				}
			}
		}

		&__value {
			color: #203577;
			font-size: 6rem;
			font-weight: 700;
			line-height: 5rem;
			margin-bottom: 35px;
			font-family: $font-family-head;
		}

		&__day {
			color: #203577;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
			margin-bottom: 20px;
			font-family: $font-family-head;
		}

		&__text {
			width: 160px;
			margin: 0 auto;
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 2.1rem;
		}
	}

	.summary {
		max-width: 300px;
		margin: 0 auto -146px auto;
		border: 10px solid $color-gold;

		&__left {
			color: #fff;
			background: #203577;
		}

		&__total {
			text-align: center;
			padding: 40px 5px 45px 5px;

			.t1 {
				font-size: 3rem;
				font-weight: 300;
				line-height: 3rem;
				margin-bottom: 20px;
				text-transform: uppercase;
			}

			.t2 {
				color: #fff;
				font-size: 7.2rem;
				line-height: 6rem;
				margin-bottom: 15px;
				font-family: $font-family-head;
			}

			.t3 {
				font-size: 1.8rem;
				font-weight: 300;
				line-height: 2rem;
			}
		}

		&__right {
			background: #fff;
			padding: 11px 15px;

			ul {
				margin: 0;
				padding: 8px 0;
				list-style: none;
				font-size: 1.2rem;
				line-height: 2.2rem;
				@include flexbox();
				@include justify-content(space-between);

				li {
					color: #5f5f5f;
					white-space: nowrap;

					&:first-child {

					}

					&:last-child {
						font-weight: 700;
						font-size: 2.1rem;
						line-height: 2.2rem;
						text-align: right;
						color: #203577;
						font-family: $font-family-head;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 80px;

		.heading {
			letter-spacing: 2px;
		}

		&__text {
			display: block;

			&_two {
				margin-bottom: 45px;
			}
		}

		&__row {
			margin-bottom: 50px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&__left {
			margin: 0;
			width: 400px;
			@include flex-shrink(0);
		}

		&__center {
			width: 230px;
			padding-top: 25px;

			.investment__data {
				text-align: center;
			}
		}

		&__logo {
			width: 230px;
			display: block;
			margin: 0 auto 45px auto;
		}

		&__right {
			width: 100%;
			padding-top: 30px;
		}

		&__data {

			&_value {
				color: #203577;
				font-size: 7.2rem;
				font-weight: 700;
				line-height: 5.8rem;
				font-family: $font-family-head;

				&.gold {
					color: $color-gold;
				}

				small {
					color: #bfbfbf;
					font-size: 3.6rem;
				}

				span {

				}
			}

			&_legend {
				color: #252525;
				font-weight: 300;
				font-size: 1.6rem;
				line-height: 2.4rem;
			}
		}

		&__list {
			text-align: right;
			position: relative;

			li {
				width: 400px;
				margin-bottom: 15px;

				&:last-child {
					right: 0;
					top: 30px;
					width: 230px;
					text-align: center;
					position: absolute;
				}
			}
		}

		&__advant {
			margin-bottom: 45px;
			@include flexbox();
			@include justify-content(space-between);

			li {

				&:nth-child(2) {
					width: 330px;
					margin-bottom: 0;
				}
			}
		}

		.calculation {
			margin: 0;
			width: 100%;
			border: 15px solid #d09056;

			&__top {
				color: #d09056;
				text-align: center;
				background: #203577;
				padding: 30px 15px 30px 15px;

				&_one {
					font-size: 4.8rem;
					line-height: 6rem;
					margin-bottom: 5px;
				}

				&_two {
					font-size: 7.2rem;
					line-height: 6rem;
				}
			}

			&__center {
				padding: 15px 25px;

				ul {
					padding: 4px 0;
					list-style: none;
					font-size: 1.4rem;
					line-height: 3rem;

					li {

						&:last-child {
							font-size: 2.4rem;
							line-height: 3rem;
						}
					}
				}
			}

			&__bottom {
				color: #fff;
				font-weight: 400;
				font-size: 1.8rem;
				line-height: 2rem;
				text-align: center;
				padding: 22px 0 6px 0;
				background: #d09056;
			}
		}

		.timeline {

			&__content {

				&:before {
					top: 80px;
				}

				li {

					&:before {
						top: 71px;
					}
				}
			}

			&__value {
				font-size: 7.2rem;
				line-height: 6rem;
				margin-bottom: 40px;
			}
		}

		.summary {
			width: 100%;
			max-width: 770px;
			margin: 0 auto;
			border: 15px solid $color-gold;
			@include flexbox();

			&__left {
				width: 215px;
			}

			&__total {
				text-align: center;
				padding: 35px 5px 35px 5px;

				.t1 {
					font-size: 3rem;
					font-weight: 300;
					line-height: 3rem;
					margin-bottom: 20px;
					text-transform: uppercase;
				}

				.t2 {
					color: #fff;
					font-size: 7.2rem;
					line-height: 6rem;
					margin-bottom: 15px;
					font-family: $font-family-head;
				}

				.t3 {
					font-size: 1.8rem;
					font-weight: 300;
					line-height: 2rem;
				}
			}

			&__right {
				background: #fff;
				padding: 50px 15px 0 15px;
				@include flex-grow(1);

				ul {
					font-size: 1.4rem;
					margin: 0 auto;
					width: 340px;

					li {

						&:last-child {
							font-size: 2.4rem;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.timeline {

			&__content {
				margin-left: -100px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 175px;

		&__text {
			font-size: 1.6rem;
			line-height: 2.4rem;
			margin-bottom: 50px;

			&_two {
				margin-bottom: 50px;
			}
		}

		.heading {
			margin-bottom: 50px;
		}


		&__row {
			margin-bottom: 78px;
			@include flex-wrap(nowrap);
		}

		&__right {
			width: 350px;
			padding-top: 0;
		}

		&__center {
			width: 310px;
			padding-top: 0;
			margin-left: 30px;
		}

		&__logo {
			width: 306px;
			margin-bottom: 40px;
		}

		&__list {

			li {
				width: 100%;
				margin-bottom: 40px;

				&:last-child {
					right: auto;
					top: auto;
					width: 100%;
					text-align: right;
					position: relative;
					margin-bottom: 0;
				}
			}
		}

		&__advant {
			margin-bottom: 40px;

			li {
				width: 33.33%;
				font-size: 1.6rem;
				line-height: 2.4rem;

				&:nth-child(2) {
					width: 33.33%;
				}
			}

			&_title {
				font-size: 3rem;
				line-height: 3.6rem;
			}

			&_text {
				width: 300px;
				margin: 0 auto;
			}
		}

		.timeline {
			margin-bottom: 70px;

			&__content {
				margin-left: 0;
			}
		}
	}
}