.footer {
	padding-top: 160px;
	padding-bottom: 25px;
	background: url("../img/foter__bg.jpg") 50% 100% no-repeat;
	background-size: cover;

	.container {
		padding: 0 10px;
	}

	&__form {
		color: #fff;
		width: 300px;
		padding: 20px 20px 30px 20px;
		margin: 0 auto 20px auto;
		background: #203577;

		&_title {
			font-size: 3rem;
			font-weight: 700;
			line-height: 3.5rem;
			margin-bottom: 15px;
			text-align: center;
			letter-spacing: 2px;
			font-family: $font-family-head;
		}
	}

	.btn {
		margin-top: 5px;
	}

	&__bottom {
		@include flexbox();
		@include justify-content(center);

		&_image {
			width: 59px;
			display: inline-block;
		}

		&_text {
			color: #fff;
			padding-top: 30px;
			font-size: 1.3rem;
			line-height: 2px;
			display: block;
			margin-left: 30px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 0;

		&__form {
			width: 690px;
			padding: 40px 70px 40px 70px;

			&_title {
				font-size: 3.6rem;
				line-height: 4.8rem;
				margin: 0 -40px 40px -40px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__form {
			width: 770px;
			margin-bottom: 40px;

			&_title {
				font-size: 4.8rem;
				line-height: 6rem;
				margin-bottom: 40px;
			}
		}


		.btn {
			margin-top: 0px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}