.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1050;
	padding-top: 10px;
	padding-bottom: 8px;
	position: absolute;
	background: #1f3578;
	@include box-shadow(0px 0px 15px 0px rgba(0, 0, 0, 0.25));

	.container {
		@include clearfix();
	}

	&__logo {
		width: 60px;
		float: left;
		display: block;
	}

	&__toggle {
		width: 50px;
		height: 50px;
		float: right;
		font-size: 0;
		line-height: 0;
		margin-top: 5px;
		margin-left: 30px;
		display: inline-block;
		padding: 15px 12px 0 12px;
		border: 2px solid $color-gold;
		@include border-radius(50%);

		span {
			width: 100%;
			height: 2px;
			margin-bottom: 5px;
			display: inline-block;
			background: $color-gold;
		}
	}

	&__phone {
		float: left;
		color: #fff;
		display: none;
		height: 32px;
		font-weight: 100;
		font-size: 2.4rem;
		line-height: 2.4rem;
		position: relative;
		margin: 26px 0 0 55px;
		padding: 4px 0 4px 40px;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 30px;
			height: 32px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__support.svg") 50% 50% no-repeat;
			background-size: cover;
		}
	}

	&__lng {
		float: right;
		display:block;
		margin-top: 20px;
		position: relative;

		&_active {
			color: #fff;
			cursor: pointer;
			font-size: 1.4rem;
			line-height: 2rem;
			position: relative;
			padding-right: 25px;
			@include flexbox();

			&:before {
				top: 0;
				right: 0;
				content: "\f107";
				font-size: 20px;
				line-height: 20px;
				position: absolute;
				display: inline-block;
				font-family: FontAwesome;
			}

			i {
				width: 23px;
				padding-top: 2px;
				display: inline-block;
				@include flex-shrink(0);
			}

			span {
				margin-left: 10px;
				display: inline-block;
			}
		}

		&_nav {
			top: 100%;
			left: -10px;
			min-width: 100%;
			margin: 5px 0 0 0;
			padding: 5px 10px;
			font-size: 1.4rem;
			line-height: 2rem;
			list-style: none;
			display: none;
			position: absolute;
			background: rgba(0,0,0, 0.8);

			li {

				a {
					color: #fff;
					width: 100%;
					text-decoration: none;
					padding: 3px 0;
					@include flexbox();

					i {
						width: 23px;
						padding-top: 2px;
						display: inline-block;
						@include flex-shrink(0);
					}

					span {
						margin-left: 10px;
						display: inline-block;
					}
				}
			}
		}

		&.open {

			.header__lng_nav {
				display: block;
			}
		}
	}

	&__nav {
		top: 0;
		left: 0;
		width: 240px;
		z-index: 1200;
		margin-left: -260px;
		padding: 80px 0 20px 0;
		height: 100vh;
		position: fixed;
		background: #242424;
		@include transition(0.3s);
		@include box-shadow(0px 0px 15px 0px rgba(0, 0, 0, 0.25));

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

				a {
					width: 100%;
					font-weight: 300;
					font-size: 1.6rem;
					line-height: 2rem;
					padding: 14px 20px;
					color: $color-gold;
					display: inline-block;
					text-decoration: none;
					background: transparent;

					&:hover {
						color: #606060;
						background: #2e2e2e;
						text-decoration: none;
					}
				}


				&.active {

					a {
						color: #606060;
						white-space: nowrap;
						background: #2e2e2e;
						text-decoration: none;
					}
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding: 20px 0;

		&__logo {
			width: 80px;
		}

		&__phone {
			display: inline-block;
		}

		&__lng {
			margin-top: 33px;
		}

		&__toggle {
			margin-top: 15px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		padding: 0;
		background: #242424;

		&__logo {
			display: none;
		}

		&__phone {
			display: none;
		}

		&__toggle {
			display: none;
		}

		&__lng {
			margin: 0;

			&_active {
				display: none;
			}

			&_nav {
				top: auto;
				left: auto;
				right: auto;
				padding: 0;
				font-size: 0;
				line-height: 0;
				margin: 16px 0 0 0;
				position: relative;
				background: transparent;
				@include flexbox();

				li {
					width: 23px;
					padding: 0;
					font-size: 0;
					line-height: 0;
					margin-left: 10px;
					@include flex-shrink(0);

					a {
						padding: 0;
						width: 23px;
						opacity: 0.4;
						display: inline-block;

						i {
							padding: 0;
						}

						span {
							display: none;
						}
					}

					&.active {

						a {
							opacity: 1;
						}
					}
				}
			}
		}

		&__nav {
			float: left;
			margin: 0;
			padding: 0;
			left: auto;
			right: auto;
			width: auto;
			height: auto;
			position: relative;
			@include box-shadow(none);

			ul {
				@include flexbox();

				li {

					a {
						padding: 14px 15px;
					}
				}
			}
		}
	}
}

.open_nav {
	height: 100vh;
	overflow: hidden;

	.header__nav {
		margin-left: 0;
		@include transition(0.3s);
	}
}