
@font-face {
  font-family: 'BodoniCyrillic';
  src: url('BodoniCyrillic.eot?#iefix') format('embedded-opentype'),  url('BodoniCyrillic.woff') format('woff'), url('BodoniCyrillic.ttf')  format('truetype'), url('BodoniCyrillic.svg#BodoniCyrillic') format('svg');
  font-weight: normal;
  font-style: normal;
}
