
@font-face {
  font-family: 'BodoniC-Bold';
  src: url('BodoniC-Bold.eot?#iefix') format('embedded-opentype'),  url('BodoniC-Bold.woff') format('woff'), url('BodoniC-Bold.ttf')  format('truetype'), url('BodoniC-Bold.svg#BodoniC-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
