
.btn {
	color: #fff;
	outline: none;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 16px 44px;
	user-select: none;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	background: #d09056;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid transparent;

	@include border-radius(38px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #F4A22C;
		text-decoration: none;
	}

	&:focus,
	&.focus {
		outline: 0;
		background: #d09056;
	}
}