.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	height: 44px;
	color: #ffffff;
	font-weight: 100;
	font-size: 1.6rem;
	line-height: 2rem;
	position: relative;
	padding: 11px 20px;
	background: #0c1c4c;
	display: inline-block;
	text-decoration: none;
	border: 1px solid transparent;
	@include placeholder(#fff);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		border-color: transparent;
		@include placeholder(transparent);
		@include transition(.3s);
	}

}

.red,
.error {

	.form_control {
		border-color: #ff0000
	}
}

textarea.form_control {
	height: auto;
}

.form_group {
	margin-bottom: 10px;

	@media (min-width: $screen-md-min) {
			margin-bottom: 30px;
	}
}
